<header></header>
<nav></nav>
<section></section>

div.container{
	width: 100%
	border: 1em solid #D9D9D9;
}

header, footer{
	padding: 1em;
	color: #4484CE
	background-color: #0B3C5D;
	clear: left;
	text-align: center;
}

nav {
	float:top;
	max-height: 100em;
	margin-top: 0;
	padding: 1em;
}

<footer class="w3-container w3-yellow"> 
<h1>Web Site Links</h1>
</footer>


/*
Possible Color Schemes
Black #000000
Ink #062F4F
Posy #813772
Embers #882601

Cerulean #4484CE
Aluminum #D9D9D9
Light #F9CE00
Tangerine #F19F4D


Prussian Blue  #0B3C5D
Sky Blue #328CC1
Gold Leaf  #D98310
Ivory Black #1D2731



<a href"https://designschool.canva.com/blog/website-color-schemes/></>


Layout use CSS float property
CSS framework
CSS flexbox
Responsive to different screen size and web browsers



 */